* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
}
/* Changed from div to nav for semantic HTML */
nav.menu {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav.menu ul,
/* changed from div to nav */ 
nav.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}
/* changed from div to nav */ 
nav.menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}
/* changed from div to nav */ 
nav.menu ul li a:hover  {
    background-color: white;
    color: #4d5791;
}
/* changed from div to header */ 
header.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('/pb/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}
/* changed from div to header */
header.hero h1,
header.hero h2,
header.hero h3 {
    text-align: center;
    margin: 0;
}
/* changed from div to header */
header.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}
/* changed from div to header */
header.hero h2 {
    color: #4d5791;
}
/* changed from div to header */
header.hero h3 {
    color: #3f4777;
}

.container-center {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

.bottom {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.container-center {
    text-align: center;
}

.container-center article.text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .container-center .div.text-box {
        margin: 10px;
    }
}